/* Global Settings */
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    color: #fffafb;
    line-height: 1.6;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
    font-size: 20px;
}

body {
    background-color: #131515;
}

a {
    text-decoration: none;
}

.body-wrapper {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title-text {
    font-family: 'Poppins', sans-serif;
    color: #7DE2D1;
    font-size: 3.5rem;
    font-weight: 600;
}

hr {
    border: 3px solid #339989;
    border-radius: 10%;
}

/* home section */
.home-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left side */
.home-left-wrapper {
    font-family: 'Poppins', sans-serif;
}

.text-1 {
    font-size: 1.8rem;
}

.text-2 {
    font-size: 6.5rem;
    line-height: 100%;
}

.text-3 {
    font-size: 2.3rem;
}

.resume-button {
    margin-top: 1.5em;
    width: 10em;
    height: 3em;
    border: 3px solid #339989;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.resume-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #7DE2D1;
    transform: translateY(-0.25em);
}

.resume-button .fas {
    margin-right: 0.5em;
}

/* right side */
.home-right-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.home-right-wrapper .btn {
    height: 2em;
    width: 2em;
    margin: 0.25em 0;
    line-height: 2em;
    border-radius: 28%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.home-right-wrapper .btn:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}

.whatsapp::before {
    background-color: #4FCE5D;
}

.instagram::before {
    background-color: #DD2A7B;
}

.yahoo::before {
    background-color: #720e9e;
}

.linkedin::before {
    background-color: #0e76a8;
}

.facebook::before {
    background-color: #3b5998;
}

.home-right-wrapper .btn:focus .fab,
.home-right-wrapper .btn:hover .fab {
    color: #fff;
    transform: scale(1);
}

.home-right-wrapper .btn:before {
    top: 90%;
    left: -110%;
}

.home-right-wrapper .btn:hover:before {
    top: -10%;
    left: -10%;
}

.home-right-wrapper .fab {
    transform: scale(0.8);
}

.home-right-wrapper .btn,
.home-right-wrapper .btn:before,
.home-right-wrapper .btn .fab {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

/* about section */
.about-wrapper {
    margin-bottom: 5em;
}

.about-content-wrapper {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}

.about-content-wrapper p {
    margin: 1em 0;
    text-align: justify;
    opacity: 0.8;
}

/* skills section */
.skills-content-wrapper {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* skill card */
.skills-cards {
    margin: 3em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: #131515;
    box-shadow:  20px 20px 60px #080808,
                -20px -20px 60px #1e2222;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-cards .top {
    font-size: 3rem;
}

.skills-cards .bottom {
    font-weight: 600;
}

/* projects section */
.projects-content-wrapper {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* projects card */
.project-cards {
    margin: 1em 0;
    width: 100%;
    border-radius: 30px;
    background: #131515;
    box-shadow: 20px 20px 60px #080808,
                -20px -20px 60px #1e2222;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.project-cards .left {
    border-right: 2px solid rgba(43, 44, 40, 0.8);
}

.project-cards .left h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #7DE2D1;
    margin-top: 0.8em;
    margin-left: 1.2em;
}

.project-cards .left ul {
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.8;
    text-align: justify;
    margin: 0.8em 5em 2em 5em;
}

.project-cards .right {
    margin: 1.5em 0;
    width: 20vw;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto; 
}

.project-cards .right .top {
    margin-bottom: 1em;
    font-size: 1.2rem;
    opacity: 0.8;
}

.project-cards .right .top a {
    opacity: 0.8;
    box-shadow: 0;
    transition: all 0.35s ease-in;
}

.project-cards .right .top a:hover {
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.project-cards .right .bottom {
    font-size: 0.8rem;
    opacity: 0.8;
}

.project-cards .right .bottom .items {
    margin: 0.5em 0;
}

.project-cards .right .bottom .fab,
.project-cards .right .bottom .fas {
    margin-right: 0.5em;
}

/* Large Tabs */
@media only screen and (max-width: 1200px) {
    html {font-size: 16px; }
}

/* Tabs */ 
@media only screen and (max-width: 992px) {
    /* global */
    html {font-size: 13px; }
}

/* mobile */
@media only screen and (max-width: 768px) {
    /* global */
    html {font-size: 10px; }

    /* home section */
    .home-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .resume {
        width: 100%;
        margin-top: 1.5em;
        display: flex;
        justify-content: center;
    }

    .home-right-wrapper {
        margin-top: 2em;
        height: 0;
        width: 70vw;
        flex-direction: row;
    }

    .home-right-wrapper .fab {
        transform: scale(1);
    }
    
    /* projects section */
    .project-cards {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        align-items: center;
    }

    .project-cards .left {
        border: 0;
    }

    .project-cards .left h1 {
        margin: 1.2em 1.5em;
        font-size: 1.8rem;
        text-align: center;
    }

    .project-cards .left ul {
        margin: 0 1.5em;
        list-style-type: none;
    }
    
    .project-cards .left li {
        margin: 1em 0;
    }

    .project-cards .right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .project-cards .right .top {
        margin-bottom: 0;
    }

    .project-cards .right .bottom {
        margin: 1.3em 2em 0 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .project-cards .right .bottom .items {
        margin: 0.5em 1em;
        font-size: 1rem;
    }
}
