@font-face {
    font-family: 'poppins';
    src: url("resources/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'source-sans-pro';
    src: url("resources/fonts/SourceSansPro-Regular.ttf");
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffafb;
    line-height: 1.6;
}

html {
    font-size: 20px;
}

body {
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #131515;
}

a {
    text-decoration: none;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.home-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-left-wrapper {
    font-family: 'poppins';
}

.home-left-wrapper .span-1 {
    font-size: 1.8rem;
}

.home-left-wrapper .span-2 {
    font-size: 6.5rem;
    line-height: 100%;
}

.home-left-wrapper .span-3 {
    font-size: 2.3rem;
}

.home-left-wrapper .resume-button {
    margin-top: 2vh;
    border: 3px solid #339989;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.home-left-wrapper .resume-button .fas {
    margin-right: 0.5vw;
}

.home-left-wrapper .resume-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #7DE2D1;
    transform: translateY(-0.25em);
}

.home-right-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home-right-wrapper .btn {
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    opacity: 0.99;
}

.home-right-wrapper .btn:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}

.home-right-wrapper .btn {
    font-size: 2rem;
    vertical-align: middle;
}

.home-right-wrapper .whatsapp::before {
    background-color: #4FCE5D;
}

.home-right-wrapper .instagram::before {
    background-color: #DD2A7B;
}

.home-right-wrapper .yahoo::before {
    background-color: #720e9e;
}

.home-right-wrapper .linkedin::before {
    background-color: #0e76a8;
}

.home-right-wrapper .facebook::before {
    background-color: #3b5998;
}

.home-right-wrapper .btn:focus .fab,
.home-right-wrapper .btn:hover .fab {
    color: #fff;
    transform: scale(1);
}

.home-right-wrapper .btn:before {
    top: 90%;
    left: -110%;
}

.home-right-wrapper .btn:hover:before {
    top: -10%;
    left: -10%;
}

.home-right-wrapper .fab {
    transform: scale(0.8);
}

.home-right-wrapper .btn,
.home-right-wrapper .btn:before,
.home-right-wrapper .btn .fab {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.about-wrapper,
.skills-wrapper {
    margin-bottom: 5vh;
}

.about-left-wrapper {
    font-family: 'source-sans-pro';
    font-size: 1.5rem;
}

.about-left-wrapper p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
    opacity: 0.8;
}

#about-span-1 {
    font-family: 'poppins';
    color: #7DE2D1;
    font-size: 4.5rem;
    font-weight: bold;
}

.skills-top-wrapper,
.projects-top-wrapper {
    font-size: 4.5rem;
    color: #7DE2D1;
    font-weight: bold;
    font-family: 'poppins';
}

.skills-top-wrapper hr,
.projects-top-wrapper hr {
    border: 3px solid #339989;
    border-radius: 10%;
    margin-bottom: 2vh;
}

.skills-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.skills-cards {
    display: flex;
    margin: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: #131515;
    box-shadow:  20px 20px 60px #080808,
                -20px -20px 60px #1e2222;
    font-family: 'poppins';
}

.skills-cards .top {
    font-size: 3rem;
}

.skills-cards .bottom {
    font-weight: bold;
}

.projects-top-wrapper {
    margin-bottom: 1vh;
}

#projects-text {
    font-size: 2rem;
    color: #7DE2D1;
    font-weight: bold;
    font-family: 'poppins';
}

.projects-featured-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects-featured-wrapper .featured-cards {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 100%;
    margin: 3vh 0;
    border-radius: 30px;
    background: #131515;
    box-shadow:  20px 20px 60px #080808,
                 -20px -20px 60px #1e2222;
    font-family: 'poppins';
}

.featured-left {
    border-right: 2px solid #2b2c28;
    opacity: 0.8;
}

.featured-left h1 {
    font-size: 1.5rem;
    color: #7DE2D1;
    margin-left: 2vw;
    margin-top: 2vh;
}

.featured-left ul {
    font-family: 'source-sans-pro';
    opacity: 0.8;
    margin: 2vh 5vw 3vh 5vw;
}

.featured-right {
    display: grid;
    grid-template-rows: auto auto;
    width: 15vw;
    text-align: center;
    margin: 0 2vw;
}

.featured-right .top {
    margin-top: 3vh;
    font-size: 1.2rem;
    opacity: 0.8;
}

.featured-right .top a {
    cursor: progress;
}

.featured-right .bottom {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.featured-right .bottom .items {
    margin: 1vh 0;
}

.featured-right .bottom .fab {
    margin: 0 1vw 1vh 0;
}

.projects-more-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
}

.projects-more-wrapper .more-cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh 0;
    border-radius: 30px;
    background: #131515;
    box-shadow:  20px 20px 60px #080808,
                 -20px -20px 60px #1e2222;
    font-family: 'poppins';
    position: relative;
}

.projects-more-wrapper .more-cards .top {
    position: absolute;
    top: 1vh;
    right: 1vw;
    font-size: 1.2rem;
    box-shadow: 0;
    z-index: 1;
    transition: all 0.35s ease-in;
}

.projects-more-wrapper .more-cards .top a {
    opacity: 0.6;
    box-shadow: 0;
    transition: all 0.35s ease-in;
}

.projects-more-wrapper .more-cards .top a:hover {
    opacity: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.more-cards h1 {
    font-size: 1.4rem;
    color: #7DE2D1;
    margin-left: 2vw;
    margin-top: 3vh;
}

.projects-more-wrapper .more-cards .middle {
    margin-top: 2vh;
    opacity: 0.8;
    z-index: 0;
}

.projects-more-wrapper .more-cards .bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0.8;
    margin-bottom: 3vh;
    font-size: 0.8rem;
    margin-right: 3vw;
}

.projects-more-wrapper .more-cards .bottom .fab,
.projects-more-wrapper .more-cards .bottom .fas {
    margin: 0 0.5vw 1vh 3vw;
}

.more-cards ul {
    font-family: 'source-sans-pro';
    font-size: 0.9rem;
    opacity: 0.8;
    margin: 2vh 5vw 2vh 5vw;
}

@media only screen and (max-width: 768px) {
    html {font-size: 10px; }

    .home-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .home-right-wrapper {
        margin-top: 5vh;
        height: 0;
        width: 70vw;
        flex-direction: row;
    }

    .home-right-wrapper .fab {
        transform: scale(1);
    }

    .skills-bottom-wrapper {
        margin-top: 3vh;
    }

    .skills-cards{
        margin: 2vh;
    }
    
    .projects-featured-wrapper .featured-cards {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        align-items: center;
    }

    .projects-featured-wrapper .featured-left {
        border: 0;
    }

    .projects-featured-wrapper .featured-left ul {
        margin-bottom: 0;
    }

    .projects-featured-wrapper .featured-right {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .projects-featured-wrapper .featured-right .top {
        font-size: 1.3rem;
    }

    .projects-featured-wrapper .featured-right .bottom {
        margin-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projects-featured-wrapper .featured-right .bottom .items {
        margin: 0 3vw;
    }

    .projects-more-wrapper {
        grid-template-columns: 1fr;
    }

    .projects-more-wrapper .more-cards {
        margin: 3vh 2vw;
    }
}